<navigation></navigation>
<style>
  .clickable {
    list-style: none;
  }
</style>
<div class="container" ng-controller="adminCtrl as vm">
  <h1>Admin Page</h1><hr>
  <h3>Units :</h3>
  <button class="btn btn-primary" ng-click="vm.adding = true;vm.alertMsg = false">ADD</button>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-danger" ng-show="vm.alertMsg">{{ vm.alertMsg }}</div>

      <!-- <input type="text" placeholder="Search" ng-model="vm.searchFilter"> Sort by: <a href="" ng-click="vm.sortType = 'name'" id="sortName">Name</a><br><br> -->

      <form ng-show="vm.adding" ng-submit="vm.addUnit(vm.added); vm.adding = false">
        <div class="form-group">
          <input ng-model="vm.added.name" placeholder="Name" ng-required class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="vm.added.tel" placeholder="Tel" ng-required class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="vm.added.address" placeholder="Address" ng-required class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="vm.added.insurance" placeholder="Insurance" ng-required class="form-control">
        </div>
        <div class="form-group">
          <textarea ng-model="vm.added.info" placeholder="Info" ng-required class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="number" ng-model="vm.added.lat" placeholder="Latitude" ng-required class="form-control">
        </div>
        <div class="form-group">
          <input type="number" ng-model="vm.added.lng" placeholder="Longitude" ng-required class="form-control">
        </div>
        <button type="submit" class="btn btn-success">SAVE</button>
        <a ng-click="vm.adding = false" class="btn btn-danger">CANCEL</a>
        <a ng-if="vm.added.address" ng-click="vm.findCoordinates()" class="btn btn-primary">Get coordinates</a>
      </form><br>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6" ng-repeat="loc in vm.locations | orderBy:vm.sortType | filter: vm.searchFilter">
      <div class="well">
        <ul ng-hide="editing" class="clickable">
          <li>Name : {{ loc.name }}</li>
          <li>Tel : {{ loc.tel }}</li>
          <li>Address : {{ loc.address }}</li>
          <li>Insurance : {{ loc.insurance }}</li>
          <li>Info : {{ loc.info }}</li>
          <li>Latitude : {{ loc.lat }}</li>
          <li>Longitude : {{ loc.lng }}</li>
        </ul>

        <form ng-submit="editing = false; vm.editUnit(loc)" ng-show="editing">
          <div class="form-group">
            <label>Name : </label>
            <input ng-model="loc.name" placeholder="Name" value="loc.name" ng-required class="form-control">
          </div>
          <div class="form-group">
            <label>Tel : </label>
            <input ng-model="loc.tel" placeholder="Tel" value="loc.tel" ng-required class="form-control">
          </div>
          <div class="form-group">
            <label>Address : </label>
            <input ng-model="loc.address" placeholder="Address" value="loc.address" ng-required class="form-control">
          </div>
          <div class="form-group">
            <label>Insurance : </label>
            <input ng-model="loc.insurance" placeholder="Insurance" value="loc.insurance" ng-required class="form-control">
          </div>
          <div class="form-group">
            <label>Info : </label>
            <textarea ng-model="loc.info" placeholder="Info" value="loc.info" ng-required class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input ng-model="loc.lat" placeholder="Latitude" value="loc.lat" ng-required class="form-control">
          </div>
          <div class="form-group">
            <input ng-model="loc.lng" placeholder="Longitude" value="loc.lng" ng-required class="form-control">
          </div>
          <button type="submit" class="btn btn-success">SAVE</button>
          <a class="btn btn-primary" ng-click="editing = false">CANCEL</a>
          <a ng-click="vm.deleteUnit(loc);editing = false" class="btn btn-danger">DELETE</a>
        </form>
          <button ng-click="editing = true;vm.alertMsg = false" class="btn btn-info" ng-show="!editing">EDIT</button>
          <br><br>
        </div>
      </div>
    </div>
</div>
</div>
