<navigation></navigation>
<div class="container" ng-controller="homeCtrl as vm">
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-lg btn-primary" ng-click="vm.zipcode()">Search by Zipcode</button>
			<button class="btn btn-lg btn-primary" ng-click="vm.gps();vm.showZipInput = false">Search by GPS</button><br><br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form ng-submit="vm.checkZipcode(zipcodeInput)" ng-show="vm.showZipInput">
				<div class="input-group">
					<span class="input-group-btn">
				  	<button class="btn btn-default">Go!</button>
					</span>
				  <input type="number" maxlength="5" ng-model="zipcodeInput" placeholder="Enter zipcode" class="form-control">
				</div>
			</form><br>
			<div class="loader" ng-show="vm.loader"></div><br>
			<div class="alert alert-danger" ng-show="vm.alertMsg">{{ vm.alertMsg }}</div>
		</div>
	</div><br>
	<div class="row" ng-show="vm.locations" style="display: flex; flex-wrap: wrap;">
		<br>
    <div class="col-md-6 col-lg-6" ng-repeat="loc in vm.locations | orderBy:'distance' | filter: vm.searchFilter">
      <div class="well" ng-show="loc.distance">
        <ul class="clickable">
					<li ng-show="loc.distance"><b>Distance :</b> {{ loc.distance }} mi.</li>
          <li><b>Name :</b> {{ loc.name }}</li>
          <li><b>Tel :</b> {{ loc.tel }}</li>
          <li><b>Address :</b> {{ loc.address }}</li>
          <li ng-show="loc.insurance"><b>Insurance :</b> {{ loc.insurance }}</li>
          <li ng-show="loc.info"><b>Info :</b> {{ loc.info }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
