<navigation></navigation>
<div class="container" ng-controller="homeCtrl as vm">
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-lg btn-primary" ng-click="vm.zipcode()">Search by Zipcode</button>
			<button class="btn btn-lg btn-primary" ng-click="vm.gps()">Search by GPS</button><br><br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form ng-submit="vm.checkZipcode(zipcodeInput)" ng-show="vm.showZipInput">
				<div class="input-group">
					<span class="input-group-btn">
				  	<button class="btn btn-default">Go!</button>
					</span>
				  <input type="number" maxlength="5" ng-model="zipcodeInput" placeholder="Enter zipcode" class="form-control">
				</div>
			</form>
			<div class="alert alert-danger" ng-show="vm.alertMsg">{{ vm.alertMsg }}</div>
		</div>
	</div><br>
	<div class="row" ng-show="vm.locations" style="display: flex; flex-wrap: wrap;">
		<br>
    <div class="col-md-6 col-lg-6" ng-repeat="loc in vm.locations | orderBy:'distance' | filter: vm.searchFilter">
      <div class="well" ng-show="loc.distance">
        <ul class="clickable">
					<li ng-show="loc.distance">Distance : {{ loc.distance }} mi.</li>
          <li>Name : {{ loc.name }}</li>
          <li>Tel : {{ loc.tel }}</li>
          <li>Address : {{ loc.address }}</li>
          <li ng-show="loc.insurance">Insurance : {{ loc.insurance }}</li>
          <li ng-show="loc.info">Info : {{ loc.info }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
